{% extends 'currency_mogul/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 d-flex align-items-stretch">
            <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        {% if posting %}
                            {{ amount }} {{ from_curr }} - {{ to_curr }}, {{ from_date }} - {{ to_date }}
                        {% else %}
                        Rate history
                        {% endif %}
                    </div>
                <div class="card-body">
                    {% if posting %}
                        <img src="{% static 'images/historical.png' %}">
                    {% else %}
                        <p><b>Generate a graph!</b></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex align-items-stretch">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="from_curr">From currency:</label>
                        <input list="currencies_from" id="from_curr" type="text" placeholder="EUR" name="from_curr">
                        <datalist id="currencies_from">
                            {% for currency in all_currencies.keys %}
                                <option value="{{ currency }}">
                            {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="to_curr">To currency:</label>
                        <input list="currencies_to" id="to_curr" type="text" placeholder="USD" name="to_curr">
                        <datalist id="currencies_to">
                            {% for currency in all_currencies.keys %}
                                <option value="{{ currency }}">
                            {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="amount">Amount</label>
                        <input type="number" step="0.01" class="form-control" placeholder="1.00" id="amount" name="amount">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="from_date">From:</label>
                        <input type="date" class="form-control" placeholder="2001-01-01" id="from_date" name="from_date">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="to_date">Amount</label>
                        <input type="date" class="form-control" id="to_date" name="to_date">
                    </div>
                    <button type="submit" class="btn btn-primary">Get graph</button>
                </form>
        </div>

</div>
{% endblock %}