{% extends 'currency_mogul/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="all-currency-table">
        {% if money_dict %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Currency</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary">
              <th scope="row">{{ money_dict.base }}</th>
              <td>{{ money_dict.amount }}</td>
            </tr>
            {% for key, value in money_dict.rates.items %}
            <tr class="table-dark">
              <th scope="row">{{ key }}</th>
              <td>{{ value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>No data to display. It appears there's no answer from the API.</p>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-4">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label class="col-form-label mt-4" for="from_amount">Amount</label>
          <input type="number" step="0.01" class="form-control" placeholder="1.00" id="from_amount" name="from_amount">
        </div>
        <div class="form-group">
          <label class="col-form-label mt-4" for="from_curr">From Currency:</label>
          <input list="currencies" id="from_curr" type="text" placeholder="EUR" name="from_curr">
          <datalist id="currencies">
            {% for currency in all_currencies.keys %}
              <option value="{{ currency }}">
            {% endfor %}
          </datalist>
        </div>
        <button type="submit" class="btn btn-primary">Get rates</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
