{% extends 'overseer/base.html' %}
{% block content %}
{% load overseer_extras %}
<br>
{% for task in task_list %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'task-detail' task.id %}">
                    <p class="text-{{ task.severity }}"><b>{{ task.title }}</b> due on <b>{{ task.due_date }}</b></p>
                </a>
                {% if task.subtasks.all.count > 0 %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ task.progress_percentage }};" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="{{ task.subtasks.all.count }}"></div>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subtask in task.subtasks.all %}
                    <tr class="table-{{ subtask.severity }}">
                        <th scope="row">{{ subtask.title }}</th>
                        <td>{{ subtask.due_date }}</td>
                        <td>{{ subtask.status }}</td>
                        <td>
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">. . .</a>
                            <div class="dropdown-menu" style="">
                                <a class="dropdown-item" href="#">View content</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <hr>
        </div>
    </div>
{% endfor %}
<div class="container">
    <div class="row">
        {% paginate task_list %}
    </div>
</div>
{% endblock %}



