<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% block title %}
  <title>The Weatherman</title>
    {% endblock %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/darkly/bootstrap.min.css"
        integrity="sha512-JjQ+gz9+fc47OLooLs9SDfSSVrHu7ypfFM7Bd+r4dCePQnD/veA7P590ovnFPzldWsPwYRpOK1FnePimGNpdrA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <a class="navbar-brand" href="{% url 'homepage' %}">
          <svg xmlns="http://www.w3.org/2000/svg"
               height="32"
               width="36"
               viewBox="0 0 640 512">
            <path d="M0 336c0 79.5 64.5 144 144 144H512c70.7 0 128-57.3 128-128c0-61.9-44-113.6-102.4-125.4c4.1-10.7 6.4-22.4 6.4-34.6c0-53-43-96-96-96c-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32C167.6 32 96 103.6 96 192c0 2.7 .1 5.4 .2 8.1C40.2 219.8 0 273.2 0 336z"/>
          </svg> Weatherman
        </a>
    </a>
    <button class="navbar-toggler"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'weather-index' %}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-12">
      <form method="post" class="col-md">
        {% csrf_token %}
        <div class=" input-group">
          <input type="text" class="form-control" name="city" placeholder="Enter the name of a city ...">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {% for message in messages %}
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>There's been an error!</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-row">
      {% for forecast in all_forecasts %}
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <b>Forecast</b>
          <div class="float-end">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
          </div>
        </div>
        <div class="card-body">
          <h5><span class="badge badge-primary">Country Code :</span> {{ forecast.city_country }}</h5>
          <h5><span class="badge badge-primary">Coordinates [X,Y] :</span> {{ forecast.coordinate }}</h5>
          <h5><span class="badge badge-primary">Temperature in Celsius :</span> {{ forecast.temperature }}°C</h5>
          <h5><span class="badge badge-primary">Pressure :</span> {{ forecast.pressure }} </h5>
          <h5><span class="badge badge-primary">Humidity : </span> {{ forecast.humidity }}</h5>
          <h5><span class="badge badge-primary">Forecast : </span> {{ forecast.type }} <img
                src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="Image" style="width:70px"></h5>
          <h5><span class="badge badge-primary">Description : </span> {{ forecast.description }}</h5>
          <h5><span class="badge badge-primary">Description : </span> {{ forecast.pub_date }}</h5>
          <h5><span class="badge badge-primary">More info:</span><a href="https://openweathermap.org/city/{{ forecast.city_id }}">
              {{ forecast.city_country }}</a></h5>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Delete forecast data?
              </div>
              <div class="modal-footer">
                <form action="{% url 'weather-delete' forecast.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Yes">
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
</body>
</html>