{% extends 'memory_crystal/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#memos" aria-selected="true" role="tab">Most recent notes</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#birthdays" aria-selected="false" role="tab" tabindex="-1">Upcoming birthdays</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#notepad" aria-selected="false" role="tab" tabindex="-1">Notepad</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="memos" role="tabpanel">
          {% for memo in recent_memos %}
            {% if memo.title %}
              <h3><a href="{% url 'memo-detail' memo.slug %}">{{ memo.title }}</a></h3>
            {% endif %}
              <p><span class="badge bg-primary"><b>Created on:</b></span> {{ memo.pub_date }}. <span class="badge bg-primary"><b>Last updated:</b></span> {{ memo.last_modified }}</p>
              <p><b>Categories:</b> {{ memo.all_categories }}</p>
              <p>{{ memo.content | safe}}</p>
              <hr>
          {% endfor %}
        </div>
        <div class="tab-pane fade" id="birthdays" role="tabpanel">
          <ul>
            {% for bd in ordered_birthdays %}
            <li>
              {{ bd }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-pane fade" id="notepad" role="tabpanel">
          <div class="fieldWrapper">
            <form method="post">
              {% csrf_token %}
              {{ np_form | crispy }}
              <input type="submit" class="btn btn-primary" value="Save memo">
              <input type="submit" class="btn btn-primary" value="Clear memo">
            </form>
          </div>
        </div>
    </div>
  </div>
    <div class="col-2">
      {% for message in messages %}
      <div class="alert alert-dismissible alert-{% if message.tags == 'info' %}info
      {% elif message.tags == 'warning' %}warning{% elif message.tags == 'error' %}danger
      {% elif message.tags == 'success' %}success{% endif %}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">{{ message }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}