{% extends 'dashboard/base.html' %}
{% block content %}
{% load dashboard_extras %}
<br>
<div class="container">
    {% if alarms %}
    <div class="row">
        <div class="col-12 d-flex flex-row">

        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-9 d-flex flex-row">
            {% for forecast in weather_forecasts %}
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">
                <b>Forecast</b>
              </div>
                <div class="card-body">
                    <h5><span class="badge badge-primary"></span> {{ forecast.type }}<img
                          src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="Image" style="width:70px"></h5>
                    <h5><span class="badge badge-primary"></span> {{ forecast.temperature }}°C</h5>
                    <h5><span class="badge badge-primary"></span> {{ forecast.pub_date }}</h5>
                    <h5><span class="badge badge-primary"></span><a href="https://openweathermap.org/city/{{ forecast.city_id }}">
                        {{ forecast.city_country }}</a></h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="tracked_cities_remove" data-bs-toggle="dropdown">
                Remove city...
            </button>
            <ul class="dropdown-menu" aria-labelledby="tracked_cities_remove">
                {% for city in tracked_cities %}
                <li>
                    <form method="post" action="{% url 'city-delete' city.id %}">
                        {% csrf_token %}
                        <button type="submit"> {{ city }}</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
            <form action="{% url 'city-create' %}" method="post">
                {% csrf_token %}
                {{ city_form }}
                <input type="submit" class="btn btn-primary" value="Add">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#memos" aria-selected="true" role="tab">Recent Memos</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#todo" aria-selected="false" tabindex="-1" role="tab">To-Do List</a>
              </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#currency" aria-selected="false" tabindex="-1" role="tab">Exchange Rates</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="memos" role="tabpanel">
                  {% for memo in recent_memos %}
                    {% if memo.title %}
                      <h3><a href="{% url 'memo-detail' memo.slug %}">{{ memo.title }}</a></h3>
                    {% endif %}
                      <p><span class="badge bg-primary"><b>Created on:</b></span> {{ memo.pub_date }}. <span class="badge bg-primary"><b>Last updated:</b></span> {{ memo.last_modified }}</p>
                      <p><b>Categories:</b> {{ memo.all_categories }}</p>
                      <p>{{ memo.content | safe}}</p>
                      <hr>
                  {% endfor %}
                </div>
                <div class="tab-pane fade show active" id="todo" role="tabpanel">
                    {% for task in task_list %}
                    <hr>
                    <a href="{% url 'task-detail' task.id %}">
                        <p class="text-{{ task.severity }}"><b>{{ task.title }}</b> due on <b>{{ task.due_date }}</b></p>
                    </a>
                    {% if task.subtasks.all.count > 0 %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ task.progress_percentage }};" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="{{ task.subtasks.all.count }}"></div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Due date</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subtask in task.subtasks.all %}
                        <tr class="table-{{ subtask.severity }}">
                            <th scope="row">{{ subtask.title }}</th>
                            <td>{{ subtask.due_date }}</td>
                            <td>{{ subtask.status }}</td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade show active" id="currency" role="tabpanel">
                    <div class="all-currency-table">
                        {% if money_dict %}
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Currency</th>
                              <th scope="col">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="table-primary">
                              <th scope="row">{{ money_dict.base }}</th>
                              <td>{{ money_dict.amount }}</td>
                            </tr>
                            {% for key, value in money_dict.rates.items %}
                            <tr class="table-dark">
                              <th scope="row">{{ key }}</th>
                              <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% else %}
                            <p>No data to display. It appears there's no answer from the API.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">RSS Feed</div>
                <div class="card-body">
                    {% for entry in all_entries %}
                    <a href="{{ entry.link }}"><h5 class="card-title">{{ entry.title }}</h5></a>
                    <p class="text-body-tertiary">{{ entry.entry_type }}, {{ entry.pub_date }}</p>
                    <p class="card-text">{{ entry.description }}</p>
                    <br>
                    {% endfor %}
                    {% paginate all_entries %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}